<p id="notice"><%= notice %></p>

<p>
  <strong>预订人:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong>地址:</strong>
  <%= @order.customer_address %>
</p>

<p>
  <strong>联系电话:</strong>
  <%= @order.customer_mobile %>
</p>

<p>
  <strong>预订产品:</strong>
  <%= @order.product.name %>
</p>

<p>
  <strong>份数:</strong>
  <%= @order.count %>
</p>
