<p id="notice"><%= notice %></p>

<p>
  <strong><%= @product.name %></strong>
</p>

<p>
  <%= @product.description %>
</p>

<p>
  <img src="<%= @product.picture %>"/>
</p>

<p>
  <strong>价格：</strong>
  <%= @product.price %>元
</p>

<%= button_to '预订', orders_prepare_path(:product => @product), :method => :post %>